@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1A1A1A;
}

/*menu style*/
.menu {
  @apply bg-primary flex gap-2 list-none m-0 p-2;
}

/*menu font*/
.menu-item {
  @apply text-background font-sans text-base font-semibold leading-tight;
}

/*button normal with fixed width 200px*/
.btn {
  @apply bg-primary text-background font-semibold w-[200px] px-3 py-2 rounded-lg shadow-md hover:bg-secondary transition duration-300 ease-in-out;
}

/*button large with image*/
.large-button-style {
  @apply flex flex-col items-center justify-center p-8 bg-background rounded-lg shadow-md hover:shadow-lg w-[250px] h-[250px] text-body;
}

/*input text field*/
.input-style {
  @apply w-full px-3 py-2 border border-light rounded-md focus:ring-1 focus:ring-secondary focus:border-secondary focus:outline-none;
}

/*select dropdown*/
.select-style {
  @apply w-full px-3 py-2 border border-light rounded-md focus:ring-1 focus:ring-secondary focus:border-secondary focus:outline-none;
}

.select-style:focus {
  @apply bg-extralight; /* Selected item background color*/
}

.blocklyMainWorkspaceScrollbar {
  display: none !important; /* Hide Blockly workspace scroll bar */
}

/*Blockly remove scroll bar for toolbox*/
svg[display="none"] {
  display: none;
}

/*Smooth scroll behavior*/
html {
  scroll-behavior: smooth;
}

/*Display angled background for hero section*/
.angled-bg {
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}
@media (max-width: 640px) {
  .angled-bg {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }
}

/*For images carousel to hide the scroll bar*/
.no-scrollbar {
  -ms-overflow-style: none;  /* IE 和 Edge */
  scrollbar-width: none;     /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari 和 Opera */
}