@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*body font defined under tailwind.config.ts*/
/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  font-size: 16px;
}
*/

/*menu style*/
.menu {
  @apply bg-primary flex gap-2 list-none m-0 p-2;
}

/*menu font*/
.menu-item {
  @apply text-background font-sans text-base font-semibold leading-tight;
}

/*button normal*/
.btn {
  @apply bg-primary text-background font-semibold px-3 py-2 rounded-lg shadow-md hover:bg-secondary transition duration-300 ease-in-out;
}

/*input text field*/
.input-style {
  @apply w-full px-3 py-2 border border-light rounded-md;
}

/*select dropdown*/
.select-style {
  @apply w-full border border-light px-3 py-2 rounded;
}